* {
  box-sizing: border-box;
  color: #333333;
}

body {
  font-family: "Arial";
}

.more-button {
  background: #b3b3b3;
  border-style: none;
  padding: 10px;
  transition: 0.3s;
  font-size: 13px;
}

.more-button:hover {
  background: #9c9c9c;
}
